@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


body {
    font-family: 'Amatic SC', cursive;
    color: #4fa59c;
    background-color: #e6ded1;
}

h1 {
    font-size: 70px;
    text-shadow: -2px 2px #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 40px;
}

button {
    border: none;
    padding: 0;
    background: #e6ded1;
        
}

.age {
    height: 324px;
}


.dec23rd2020 {
    background-image: url(../assets/images/lola-heads/2020-12-23.png);
}

.dec26th2020 {
    background-image: url(../assets/images/lola-heads/2020-12-26.png);
}

.jan9th2021 {
    background-image: url(../assets/images/lola-heads/2021-01-09.png);
}

.feb27th2021 {
    background-image: url(../assets/images/lola-heads/2021-02-27.png);
}

.april4th2021 {
    background-image: url(../assets/images/lola-heads/2021-04-04.png);
}

.april11th2021 {
    background-image: url(../assets/images/lola-heads/2021-04-11.png);
}

.may2nd2021 {
    background-image: url(../assets/images/lola-heads/2021-05-02.png);
}

.june2nd2021 {
    background-image: url(../assets/images/lola-heads/2021-06-02.png);
}

.july5th2021 {
    background-image: url(../assets/images/lola-heads/2021-07-05.png);
}

.aug4th2021 {
    background-image: url(../assets/images/lola-heads/2021-08-04.png);
}

.sept12th2021 {
    background-image: url(../assets/images/lola-heads/2021-09-12.png);
}

.sept25th2021 {
    background-image: url(../assets/images/lola-heads/2021-09-25.png);
}

.oct31st2021 {
    background-image: url(../assets/images/lola-heads/2021-10-31.png);
}

.nov6th2021 {
    background-image: url(../assets/images/lola-heads/2021-11-06.png);
}

.dec13th2021 {
    background-image: url(../assets/images/lola-heads/2021-12-13.png);
}

