@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


body {
    font-family: 'Amatic SC', cursive;
    color: #4fa59c;
    background-color: #e6ded1;
    text-align: center;
}

h1 {
    font-size: 70px;
    text-shadow: -2px 2px #ffffff;
    margin: 0;
}

h2 {
    color: #ffffff;
    font-size: 40px;
    margin: 0;
}

button {
    border: none;
    padding: 0;
    background: #e6ded1;
        
}

.main-content {
    margin: 25px 0;
}

.lola-head-selection {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
}

.lola-age-order {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
    font-size: 30px;
    margin: 25px 0;
}

.age {
    height: 324px;
    background-repeat: no-repeat;
}

.swap {
    display: grid;
}


.dec-23-2020 {
    background-image: url(../assets/images/lola-heads/2020-12-23.png);
}

.dec-26-2020 {
    background-image: url(../assets/images/lola-heads/2020-12-26.png);
}

.jan-9-2021 {
    background-image: url(../assets/images/lola-heads/2021-01-09.png);
}

.feb-27-2021 {
    background-image: url(../assets/images/lola-heads/2021-02-27.png);
}

.apr-4-2021 {
    background-image: url(../assets/images/lola-heads/2021-04-04.png);
}

.apr-11-2021 {
    background-image: url(../assets/images/lola-heads/2021-04-11.png);
}

.may-2-2021 {
    background-image: url(../assets/images/lola-heads/2021-05-02.png);
}

.jun-2-2021 {
    background-image: url(../assets/images/lola-heads/2021-06-02.png);
}

.jul-5-2021 {
    background-image: url(../assets/images/lola-heads/2021-07-05.png);
}

.aug-4-2021 {
    background-image: url(../assets/images/lola-heads/2021-08-04.png);
}

.sept-12-2021 {
    background-image: url(../assets/images/lola-heads/2021-09-12.png);
}

.sept-25-2021 {
    background-image: url(../assets/images/lola-heads/2021-09-25.png);
}

.oct-31-2021 {
    background-image: url(../assets/images/lola-heads/2021-10-31.png);
}

.nov-6-2021 {
    background-image: url(../assets/images/lola-heads/2021-11-06.png);
}

.dec-13-2021 {
    background-image: url(../assets/images/lola-heads/2021-12-13.png);
}

.done {
    padding: 25px 0;
}

